body {
    font-family: "Red Hat Display";  /* wtf */
    margin: 0;
}

.no-decoration {
    text-decoration: none;
}

.a-cancel {
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    text-decoration: none;
}

.a-cancel:hover {
    text-decoration: underline;
}

.webpage-container {
    background-color: hsl(225, 100%, 94%);
    background-image: url('./images/pattern-background-desktop.svg');
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 1rem;
    width: 31.25rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-banner {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-image: url('./images/illustration-hero.svg');
    width: 31.25rem;
    height: 13.7rem;
    display: flex;
}

.card-title {
    margin-top: 0.5rem;
    color: hsl(223, 47%, 23%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-weight: 900; 
    font-size: 1.750em;
}

.card-message {
    color: hsl(224, 23%, 55%);
    width: 21.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-meta {
    background-color: hsl(225, 100%, 98%);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    color: white;
    width: 21.25rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-meta-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.card-meta-title-text { /* SPAN */
    color: hsl(223, 47%, 23%);
    font-weight: 600;
}

.card-meta-title-price { /* SPAN */
    color: hsl(224, 23%, 55%);
}

.card-payment {
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 0.5rem;
    width: 21.25rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-payment:hover {
    background-color: hsl(245, 76%, 65%);
    cursor: pointer;
    transition: background-color .5s ease-in-out;
}

.card-cancel-payment {
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 21.25rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}