/* === FONT IMPORT === */

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* === CSS VARIABLES === */

    :root {
        /* Primary colors */
        --clr-brightorange: hsl(31, 77%, 52%);
        --clr-darkcyan: hsl(184, 100%, 22%);
        --clr-darkercyan: hsl(179, 100%, 13%);

        /* Neutrals */
        --clr-paragraph: hsla(0, 0%, 100%, 0.75);
        --clr-accent: hsl(0, 0%, 95%);

        /* Fonts */

        --fnt-headings: 'Big Shoulders Display', sans-serif;
        --fnt-other: 'Lexend Deca', sans-serif;
    }

/* === HTML TAGS === */

    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }

    html {
        height: 100vh;
        scroll-behavior: smooth;
    }

    body {
        height: 100vh;
        margin: 0;
    }

    h2 {
        font-family: var(--fnt-headings);
        font-size: 3rem;
        margin-bottom: 0.5em;
        color: var(--clr-accent)
    }

    p {
        font-family: var(--fnt-other);
        color: var(--clr-paragraph);
        margin-bottom: 2em;
        line-height: 1.5;
    }

    a {
        text-decoration: none;
    }


/* === UTILITY === */

/* === MAIN FLEXBOX CONTAINER === */

    .webpage-container {
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

/* === DIVS === */

    .learn-more-btn {
        display: flex;
        background-color: var(--clr-accent);
        color: inherit;
        align-items: center;
        justify-content: center;
        width: 50%;
        border-radius: 25px;
        height: 3em;
        margin-bottom: 1em;
    }

    .btn-text {
        color: inherit;
        margin: 0;
    }

        .learn-more-btn:hover {
            background-color: inherit;
            border: 1px solid var(--clr-accent);
            color: var(--clr-accent);
        }

    .icon {
        width: 75px;
        height: 50px;
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .card-1 {
            display: flex;
            background-color: var(--clr-brightorange);
            color: var(--clr-brightorange);
            flex-direction: column;
            width: 100%;
            margin-top: 5em;
            padding: 2rem;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .card-2 {
            display: flex;
            background-color: var(--clr-darkcyan);
            color: var(--clr-darkcyan);
            flex-direction: column;
            width: 100%;
            padding: 2rem;
        }

        .card-3 {
            display: flex;
            background-color: var(--clr-darkercyan);
            color: var(--clr-darkercyan);
            flex-direction: column;
            width: 100%;
            margin-bottom: 5em;
            padding: 2rem;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }

    .attribution {
        display: flex;
        width: 100%;
        font-family: var(--fnt-other);
        color: black;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

/* === MEDIA QUERIES === */